{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": "*.html.tpl",
      "options": { "parser": "html" }
    }
  ]
}
