{
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "avoid",
  "semi": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.test.js",
      "options": {
        "semi": true
      }
    },
    {
      "files": [
        "*.md",
        "*.scss"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
